@import '../../styles/mixins';

.income {
  display: flex;
  flex-direction: column;
  // background: pink;
  padding: 0.5rem;

  &__input-container {
    display: flex;
    flex-direction: column;
  }

  &__salary-container {
    display: flex;
    border-bottom: 1px solid black;
    width: 100px;
  }

  &__input {
    width: 100%;
    border: none;
    background: none;
    font-family: futura-pt;

    @include tablet {
      font-size: 1rem;
    }

    &:focus{
      outline: none;
    }
    &::placeholder{
      color: black;
      font-family: futura-pt;
      
      @include tablet {
        font-size: 1rem;
      }
    }
  }
}
