@import '../../styles/mixins';

.income {
  display: flex;
  flex-direction: column;
  // background: pink;
  padding: 0.5rem;

  &__input-container {
    display: flex;
    flex-direction: column;
  }


  &__input {
    @include input;
  }

  &__display{
    padding: 1rem 0 0 ;
  }


}
