@import "../../styles/mixins";

.expenses {
  // background: pink;
  padding: 0.5rem;

  &__input {
    @include input;
    padding-left: .5rem;
  }

  &__input-text {
    background: pink;
    width: 100%;
    resize: vertical;
    background: none;
    font-family: futura-pt;
    padding: 0.5rem;
    border: 1px solid black;

    &:focus {
      outline: none;
    }

    &:placeholder-shown {
      @include tablet {
        font-size: 1rem;
      }
    }

    &::placeholder {
      color: black;
    }

    @include tablet {
      width: 50%;
    }
  }

  &__input-container {
    padding: 0.5rem 0;
  }
}

.label {
  display: none;
}

.btn {
  width: 100%;
  height: 48px;
  padding: 0.5rem;
  border: 2px black solid;
  outline: none;
  margin: 1rem 0;
  background: none;

  &:focus {
    outline: none;
  }

  @include tablet {
    width: 180px;
  }
}
