@import "../../styles/mixins";

.expenses {
  // background: pink;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 4px;
  margin: 0.5rem;

  &__input {
    @include input;
    padding-left: 0.5rem;
  }

  &__input-text {
    @include textarea;
  }

  &__input-container {
    padding: 0.5rem 0;
  }

  &__input-border {
    border-bottom: 1px solid black;
    width: 130px;
  }
}

.label {
  display: none;
}
