@import '../../styles/mixins';

.visualizer {
  // background: pink;
  padding: 1rem 0;
}

.percent {
  background: none;
  border: black solid 2px;
  height: 48px;
  width: 100%;
  overflow: hidden;
  position: relative;

  @include tablet {
    width: 50%;
  }

  &__expenses {
    background: lightgray;
    height: 100%;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: .5rem;
    transform: translateY(-50%);
  }
}


