@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1300px) {
    @content;
  }
}

@mixin input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px black solid;
  width: 130px;
  font-family: futura-pt, sans-serif;
  border-radius: none;

 @include tablet {
   font-size: 1rem;
 }

  &:focus {
    outline: none;
  }

  &:placeholder-shown {
    padding-bottom: 0.2rem;
  }

  &::placeholder {
    font-family: futura-pt, sans-serif;
    color: black;

    @include tablet {
      font-size: 1rem;
    }
  }
}

